<% provide(:title, @book.name) %>
<div class="book-details">
  <div class="row">
    <div class="col-md-4 col-sm-4">
      <section class="book-cover">
        <div class="rectangle"></div>
      </section>
      <% if current_user %>
        <% if current_user.librarian? %>
          <section class="librarian-control">
            <%= link_to "Edit this book", edit_book_path %>
          </section>
        <% else %>
          <div id="borrow_form">
            <% unless Borrowing.find_by(user_id: current_user.id, book_id: @book.id) %>
              <%= render 'borrow' %>
            <% else %>
              <%= render 'cancel' %>
            <% end %>
          </div>
        <% end %>
      <% end %>
    </div>
    <div class="col-md-8 col-sm-8">
      <section class="book-info">
        <h3 class="book-detail-title"><%= @book.name %></h3>
        by <h4><%= @book.author %></h4>
      </section>
      <section class="col-md-6 col-sm-6">
        Genre : <%= @book.genre %><br>
        Publisher : <%= @book.publisher %><br>
        Publication Date : <%= @book.publication_date.strftime("%b %e %Y") %>
      </section>
      <section class="col-md-6 col-sm-6">
        Number of pages : <%= @book.pages %><br>
        Available : <%= @book.availability %>
      </section>
      <section class="book-introduction">
        <p><%= @book.description.to_s %></p>
      </section>
    </div>
</div>
</div>
